*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    margin: Opx;
    font-family: 'Lato', sans-serif;
    height: 100vh;
}

.heading { 
    margin: auto;
    padding: 10px 0px 0px 0px;
    text-align: center;
    font-size: 54px;
    color: #ba2032;
} 
.gameplay{
    display: grid;
    margin-top: 50px;
    grid-row-gap: 20px;
}

.front{
    width: 120px;
    height: 150px;

}
.back{
    width: 120px;
    height: 150px;
    display: none;
}
.card{
    width: 25%;
    height: 33.333%;
    flex-wrap: wrap;
    border: 2px solid red;
}
.first-row, .second-row, .third-row {
    margin: auto;
    display: flex;
    grid-column-gap: 20px;
}

.btn{
    left: 50%;
    margin-right: -50%;

}

.btn button{
    margin: 0;
    position: absolute;
    margin-top: 60px;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.btn-click {
    border-radius: 15px;
    border-color: #ba2032;
    background: #ba2032;
    color: #ffffff;
    width: 200px;
    height: 50px;
    cursor: pointer;
    font-size: 16px;
    font-family: lato, sans-serif;
    font-weight: bold;
    padding-bottom: 0px;
    
}

.instruction-card {
    list-style-type: circle;
    list-style-position: inside;
    margin: 0;
    position: absolute;
    margin-top: 160px;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    border: 2px solid #ba2032;
    padding: 10px;

}

.prompter {
    margin: 0;
    position: absolute;
    margin-top: 160px;
    left: 57%;
    transform: translate(80%, -220%);
    margin-right: -55%;
    border: 5px solid #ba2032;
    padding: 2px;
    float: right;

}

.flash-card{
    margin: 0;
    position: absolute;
    margin-top: 20px;
    left: 65%;
    transform: translate(80%, -220%);
    margin-right: -55%;
    border: 3px solid #ba2032;
    padding: 10px;
    float: right;
}